body {
  padding: 20px;
  margin: 0;
  background: #333;
  color: #EEE;
  font-size: 16px;
  font-family: sans-serif;
}

#app-header {
  padding: 15px;
}

#app-header h1 {
  margin: 0;
  text-shadow: 2px 2px 4px #111;
}

#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rule {
  background: #2A2A2A;
  box-shadow: inset 0 0 12px #222;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  min-width: 250px;
}

.rule h3 {
  margin: 0 0 10px 0;
}

.rule article {
  padding: 5px;
}

.skills ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skills li {
  list-style: none;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  background: rgba(255,255,255,.1);
  box-shadow: 0 1px 6px rgba(0,0,0,.3);
}

.skills > ul > li {
  border-radius: 12px;
}

.skill__head {
  padding: 5px;
}

.skill__name {
  font-weight: bold;
  display: inline-block;
  padding: 5px 8px;
  border-radius: 12px;
  box-shadow: inset 0 0 8px rgba(0,0,0,.3);
  text-shadow: 0 0 4px rgba(0,0,0,.5);
}

.skill__level {
  display: inline-block;
  background: #CCC;
  color: #333;
  margin-left: 5px;
  padding: 1px 4px;
  border-radius: 3px;
  font-size: 12px;
}

.skill__level--empty {
  display: none;
}

.skill__level--bxsico {
  background: #9BD;
}

.skill__level--intermedixrio {
  background: #ED9;
}

.skill__level--avanxado {
  background: #D99;
}
